<form action="/log-entry/add-resource" method="POST">
    <label>
        Title
        <input type="text" aria-placeholder="Title" name="title">
    </label>
    <label>
        Type
        <input type="text" aria-placeholder="Type" name="type">
    </label>
    <label>
        Description
        <input type="text" aria-placeholder="Description" name="description">
    </label>
    <label>
        URL
        <input type="text" aria-placeholder="URL" name="url">
    </label>
    <button type="submit">Add Resource</button>
</form>
