${!!isLoggedIn ? `
<h2>Welcome ${first_name}!</h2>
` : `
<h2>Welcome!</h2>
`}
<img src='https://i.ibb.co/TPvHFXL/code.jpg'/>




<section>
    <div class="container is-fluid">
        <div class="notification">
            <ul>
            ${recentActivity.map( activity => `
                <li>
                    ${activity.first_name} ${activity.last_name}
                    ${activity.activity_description} for ${activity.hours_spent} hours</li>
                `).join('')}
            </ul>
        </div>
    </div>
</section>

<h2>Enter an Activity Log</h2>
<section>
    <form action="/add-activity" method="POST">
        <label> Resource
            <select name="resource_id">
                <option>Select a resource</option>
                ${resourceData.map(resource => `
                    <option value=${resource.id}>
                        ${resource.title}
                    </option>
                    `).join('')}
            </select>
        
        </label>
        <label>
            Activity
            <input type="text" aria-placeholder="Activity Name" name="activity_name">
        </label>
        <label>
            Activity Description
            <input type="text" aria-placeholder="Activity Description" name="activity_description">
        </label>
        <label>
            Date Completed
            <input type="text" placeholder='MM/DD/YYYY' aria-placeholder="Date Completed" name="date_completed">
        </label>
        <label>
            Hours Spent
            <input type="text" aria-placeholder="Hours Spent" name="hours_spent">
        </label>
        <input type="hidden" name="user_id" value=${user_id} />
        <button type="submit">Add Activity Log</button>
    </form>
</section> 


