<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
rel="stylesheet">
<link rel="stylesheet" href="./stylesheets/Cards.css">








<div class="profile-card">
        <div class="image-container">
            <div class="title">
                <h2>${first_name} ${last_name}</h2>
            </div>
        </div>
        <div class="main-container">
            <p><i class="fa fa-envelope info"></i>${email_address}</p>
            <hr>
            <div class='box' name='box-shadow'>
                    <form action="/profile" method="POST">
                        <label>
                            A little about me: 
                            <input type="text" aria-placeholder="Tell me about yourself" name="about">
                        </label>
                    
                        <button type="submit">Update</button>
                    </form>
                    </div>