<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
rel="stylesheet">
<link rel="stylesheet" href="./stylesheets/Cards.css">











<div class="profile-card">
        <div class="image-container">
            <div class="title">
                <h2>${userData.first_name} ${userData.last_name}</h2>
            </div>
        </div>
        <div class="main-container">
            <p><i class="fa fa-envelope info"></i>${userData.email}</p>
            <p>${userData.about}</p>
            <hr>
            <div class='box' name='box-shadow'>
                    <form action="/profile" method="POST">
                        <label>
                            Update your about me: 
                            <input type="text" aria-placeholder="Update your about me" name="about">
                        </label>
                        <input type="hidden" name="user_id" value=${userData.id} />
                        <button type="submit">Update</button>
                    </form>
                    </div>