<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Code.log | ${title}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
        <link rel="stylesheet" href="./stylesheets/Cards.css">
    </head>
    <body>
        <nav class="menu--main">
            <ul>
                ${!!isLoggedIn ? `
                    <li><a href="/users/logout">Logout</a></li>
                    <li><a href="/users/profile">Profile</a></li>
                    <li><a href="/">Home</a></li>
                ` : `
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/signup">Sign Up</a></li>
                `}
            </ul>
        </nav>
        <h1 class="container">${title}</h1>
        <main class="container">${partial}</main>
    </body>
</html>