body
{
    font-family: sans-serif;

}
.profile-card
{
    width: 400px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}
.image-container
{
    position: relative;
}
.info
{
    margin-right: 16px;
}
.main-container
{
    padding: 20px;
}

.title
{
    position: absolute;
    left: 15px;
    bottom: 0;

}
