*{
    margin: 0px;
    padding: 0px;
}

.card{
    background-color: red;
    width: 350px;
    height: 450px;
    text-align: center;
    margin: 20%;
    border-radius: 10px;
}

.card-background{
    background: linear-gradient(to right, green, royalblue);
    height: 160px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-image{
    border-radius: 50%;
    width: 120px;
    height: auto;
    position: relative;
    top: 100px;
    border: 6px solid #f4f3f3;
}

.card-info{
    margin-top: 80px;
    padding: 10px;
}

.fab{
    color:grey;
    font-size: 24px;
    padding: 15px;
    cursor: pointer;
}

.fab: hover{
    color: #524b4b;
}

h1{
    color: #009688;
}

p{
    color: grey;
}


